<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto mt-4 sm:mt-6">
        <div class="w-full max-w-screen-xl mx-auto">

            <!-- Tabs -->
            <mat-tab-group
                class="sm:px-2"
                [animationDuration]="'0'">

                <!-- Home -->
                <mat-tab label="Pendientes">
                    <ng-template matTabContent>
                        <div
                            class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-10 ">

                            <div class="row">
                                <div class="col-md-12">
                                    <div id="general" class="tab-pane fade in active">

                                        <div class="panel panel-info transaction-panel-info">

                                            <slopes-list></slopes-list>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="mt-4 sm:mt-0" align="center">
                            <!--                            <button mat-flat-button [color]="'warn-400'" [routerLink]="['/departments']"-->
                            <!--                                    style="margin: 16px;">-->
                            <!--                                <mat-icon svgIcon="mat_solid:arrow_back"></mat-icon>-->
                            <!--                                <span class="ml-2 mr-1">Volver</span>-->
                            <!--                            </button>-->
                            <!-- New department button -->
                            <!--                            <button mat-flat-button [color]="'accent'"-->
                            <!--                                    style="margin: 16px;">-->
                            <!--                                <mat-icon class="icon-size-5" [svgIcon]="'feather:edit-2'"></mat-icon>-->
                            <!--                                <span class="ml-2 mr-1">Editar</span>-->
                            <!--                            </button>-->
                        </div>

                    </ng-template>
                    <!-- Actions -->

                </mat-tab>

                <!--                </table>-->

                <mat-tab label="Aprobados">
                    <ng-template matTabContent>
                        <div
                            class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-10 ">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-pane fade in active">

                                        <div class="panel panel-info transaction-panel-info">

                                            <approved-list></approved-list>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--                        <div class="mt-4 sm:mt-0" align="center">-->
                        <!--                            <button mat-flat-button [color]="'warn-400'" [routerLink]="['/departments']"-->
                        <!--                                    style="margin: 16px;">-->
                        <!--                                <mat-icon svgIcon="mat_solid:arrow_back"></mat-icon>-->
                        <!--                                <span class="ml-2 mr-1">Volver</span>-->
                        <!--                            </button>-->
                        <!--                            &lt;!&ndash; New department button &ndash;&gt;-->
                        <!--                            <button mat-flat-button [color]="'accent'"-->
                        <!--                                    style="margin: 16px;">-->
                        <!--                                <mat-icon class="icon-size-5" [svgIcon]="'feather:edit-2'"></mat-icon>-->
                        <!--                                <span class="ml-2 mr-1">Editar</span>-->
                        <!--                            </button>-->
                        <!--                        </div>-->

                    </ng-template>
                </mat-tab>

            </mat-tab-group>

        </div>
    </div>

</div>
