<div mat-dialog-content>
    <div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 ">
        <!-- <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card"> -->
        <!--        <div class="w-full  mx-auto sm:mx-0">-->
        <!-- Title -->
        <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Nuevo Usuario</div>
        <mat-divider class="my-2"></mat-divider>


        <!-- Alert -->
        <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                    [type]="alert.type" [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>

        <form [formGroup]="newUserForm" #newUserNgForm="ngForm">
            <!--            <div class="flex flex-col flex-auto min-w-0">-->
            <div class="flex-auto p-6 sm:p-10">
                <div class="flex flex-wrap -m-4">

                    <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label>Usuario</mat-label>
                        <input id="username" matInput [formControlName]="'username'">
                        <mat-error *ngIf="newUserForm.get('username').hasError('required')">
                            El usuario es requerido
                        </mat-error>
                    </mat-form-field>


                    <!-- Password field -->
                    <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label>Contraseña</mat-label>
                        <input id="password" matInput type="password" [formControlName]="'password'"
                               #passwordField>
                        <button mat-icon-button type="button"
                                (click)="passwordField.type === 'password' ? passwordField.type = 'text' :
                            passwordField.type = 'password'" matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                                      [svgIcon]="'heroicons_solid:eye'">
                            </mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                                      [svgIcon]="'heroicons_solid:eye-off'">
                            </mat-icon>
                        </button>
                        <mat-error>
                            La contraseña es requerida
                        </mat-error>
                    </mat-form-field>

                    <!-- Password confirmation field -->
                    <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label>Confirmar contraseña</mat-label>
                        <input id="passwordConfirmation" matInput type="password"
                               [formControlName]="'passwordConfirmation'"
                               #passwordConfirmationField>
                        <button mat-icon-button type="button"
                                (click)="passwordConfirmationField.type === 'password' ?
                            passwordConfirmationField.type = 'text' :
                            passwordConfirmationField.type = 'password'" matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordConfirmationField.type === 'password'"
                                      [svgIcon]="'heroicons_solid:eye'">
                            </mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordConfirmationField.type === 'text'"
                                      [svgIcon]="'heroicons_solid:eye-off'">
                            </mat-icon>
                        </button>
                        <mat-error>
                            La confirmación de la contraseña es requerida
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label>Nombres</mat-label>
                        <input id="names" matInput [formControlName]="'names'">
                        <mat-error *ngIf="newUserForm.get('names').hasError('required')">
                            El nombre es requerida
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label>Primer Apellido</mat-label>
                        <input id="firstSurname" matInput [formControlName]="'firstSurname'">
                        <mat-error *ngIf="newUserForm.get('firstSurname').hasError('required')">
                            El apellido es requerida
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label>Segundo Apellido</mat-label>
                        <input id="secondSurname" matInput [formControlName]="'secondSurname'">
                    </mat-form-field>

                    <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label>Correo Electrónico</mat-label>
                        <input id="email" matInput [formControlName]="'email'">
                        <mat-error *ngIf="newUserForm.get('email').hasError('required')">
                            El correo electrónico es requerido
                        </mat-error>
                        <mat-error *ngIf="newUserForm.get('email').hasError('email')">
                            Por favor ingrese un correo electrónico válido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label>Telefono</mat-label>
                        <input id="phone" matInput [formControlName]="'phone'">
                        <mat-error *ngIf="newUserForm.get('phone').hasError('required')">
                            El telefono es requerida
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label>Nro. de documento de identidad</mat-label>
                        <input id="identificationNumber" matInput [formControlName]="'identificationNumber'">
                        <mat-error *ngIf="newUserForm.get('identificationNumber').hasError('required')">
                            El nro. de documento de identidad es requerida
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label>Estado</mat-label>
                        <mat-select [formControlName]="'status'">
                            <mat-option *ngFor="let userStatus of userStatuses" [value]="userStatus">
                                {{userStatus | userStatus}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="newUserForm.get('status').hasError('required')">
                            El estado es requerido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label>Seleccione un rol</mat-label>
                        <mat-select (selectionChange)="onSelectRole($event)">
                            <ng-container *ngFor="let role of roles ">
                                <mat-option [value]="role.id">{{role.name | roleName}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <div class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                        <mat-label class="font-semibold mb-2 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">
                            Seleccione las acciones
                        </mat-label>

                        <div *ngFor="let actionChecked of actionsChecked">
                            <mat-checkbox class="mb-2" [checked]="false" [color]="'primary'"
                                          (change)="checkAction($event, actionChecked.action.id)">
                                {{actionChecked.action.description}}
                            </mat-checkbox>

                        </div>
                    </div>

                    <mat-divider class="my-2"></mat-divider>

                </div>
            </div>
        </form>

    </div>
</div>

<!--</div>-->

<mat-dialog-actions style="float: right">
    <div class="example-container">
        <button mat-flat-button mat-dialog-close [color]="'accent'">
            <span>
                Cerrar
            </span>
        </button>
        <button mat-flat-button [color]="'primary'" [disabled]="newUserForm.disabled "
                (click)="registerNewUser()">
            <span *ngIf="!newUserForm.disabled">
                Crear
            </span>
            <mat-progress-spinner *ngIf="newUserForm.disabled" [diameter]="24" [mode]="'indeterminate'">
            </mat-progress-spinner>
        </button>
    </div>

</mat-dialog-actions>

