
<div class="contenedor2" *ngIf="processes">
    <div class="flex-auto p-6 sm:p-10 ">
        <div class="flex flex-wrap -m-4 ">
            <fuse-card class="flex flex-col items-center max-w-80 w-full p-10 filter-info md:max-w-80"
                       style="margin: 16px;" *ngFor="let process of processes">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-pane fade in active">
                            <div class="panel panel-info transaction-panel-info">
                                <table class="demo-table">
                                    <tr matColumnDef="demo-name1">
                                        <td mat-cell><b>Nombre</b>
                                        </td>
                                        <td mat-cell>{{process.name}}</td>
                                    </tr>
                                    <tr matColumnDef="demo-name1">
                                        <td mat-cell><b>Descripcion</b>
                                        </td>
                                        <td mat-cell>{{process.description}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <button mat-flat-button [color]="'primary'"
                                        [routerLink]="['/requests/new-processes-request', process.id, department.id]">
                                    <mat-icon class="icon-size-5"
                                              [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                    <span class="ml-2 mr-1">Realizar Rolicitud</span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </fuse-card>

        </div>
    </div>
</div>

