.cardFuse {
    display: inline-table;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 75%;
    margin: 10px auto;
    text-align-all: center;
    text-align: -webkit-center;
}

fuse-card {
    background-color: rgba(148, 163, 184, 0.38);
}
