<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto mt-4 sm:mt-6">
        <div class="w-full max-w-screen-xl mx-auto">

            <mat-tab-group class="sm:px-2" [animationDuration]="'0'">

                <mat-tab label="Pendientes">
                    <ng-template matTabContent>
                        <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-10 ">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="general" class="tab-pane fade in active">
                                        <div class="panel panel-info transaction-panel-info">

                                            <pending-request-list [pendingRequests]="pendingRequests">
                                            </pending-request-list>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Finalizadas">
                    <ng-template matTabContent>
                        <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-10 ">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-pane fade in active">
                                        <div class="panel panel-info transaction-panel-info">

                                            <finished-request-list [finishedRequests]="finishedRequests">
                                            </finished-request-list>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>

            </mat-tab-group>

        </div>
    </div>

</div>
