<form [formGroup]="generalInformationForm">
    <mat-step
        [formGroupName]="'step1'"

        #horizontalStepperStep1>

        <ng-template matStepLabel>Informacion general</ng-template>
        <div class="flex-auto p-6 sm:p-10">
            <div class="flex flex-wrap -m-4">

                <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                    <mat-label>Nombre</mat-label>
                    <input
                        matInput
                        [formControlName]="'name'"
                        required>
                </mat-form-field>

                <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                    <mat-label>Descripción</mat-label>
                    <input
                        matInput
                        [formControlName]="'description'"
                    >
                </mat-form-field>

                <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                    <mat-label>Estado</mat-label>
                    <mat-select [formControlName]="'status'">
                        <mat-option *ngFor="let processStatus of processStatuses"
                                    [value]="processStatus">
                            {{processStatus | processStatus}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>

                <mat-form-field class="flex flex-col max-w-80 w-full " style="margin: 16px;">
                    <mat-label>Seleccione un departamento</mat-label>
                    <mat-select [formControlName]="'departmentId'">
                        <ng-container *ngFor="let department of departments">
                            <mat-option [value]="department.id">{{department.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error
                        *ngIf="generalInformationForm.get('departmentId').hasError('required')">
                        Debe seleccionar un departamento
                    </mat-error>
                </mat-form-field>


            </div>
            <div class="flex justify-end">
                <button
                    class="px-8"
                    mat-flat-button
                    [color]="'primary'"
                    type="button"
                    matStepperNext>
                    Siguiente
                </button>
            </div>
        </div>


    </mat-step>

</form>
