<div mat-dialog-content>
    <div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
        <!-- <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card"> -->
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Nuevo Rol</div>
            <mat-divider class="my-2"></mat-divider>


            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <form class="mt-8" [formGroup]="newRoleForm" #newRoleNgForm="ngForm">

                <mat-form-field class="w-full">
                    <mat-label>Nombre</mat-label>
                    <input id="name" matInput [formControlName]="'name'">
                    <mat-error *ngIf="newRoleForm.get('name').hasError('required')">
                        El nombre es requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Descripción</mat-label>
                    <input id="description" matInput [formControlName]="'description'">
                    <mat-error *ngIf="newRoleForm.get('description').hasError('required')">
                        La descripción es requerida
                    </mat-error>
                </mat-form-field>

                <mat-divider class="my-2"></mat-divider>



                <div class="inline-flex items-end w-full mt-1.5">
                    <div class="flex flex-col">
                        <span class="font-semibold mb-2 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0"> Listado
                            de
                            acciones</span>

                        <div *ngFor="let action of actions">
                            <mat-checkbox class="mb-2" [checked]="false" [color]="'primary'"
                                (change)="checkAction($event, action.id)">
                                {{action.description}}
                            </mat-checkbox>

                        </div>
                    </div>
                </div>

            </form>
        </div>
        <!-- </div> -->
    </div>

</div>
<div mat-dialog-actions>
    <div class="example-container">
        <button mat-flat-button mat-dialog-close [color]="'accent'">
            <span>
                Cerrar
            </span>
        </button>
        <button mat-flat-button [color]="'primary'" [disabled]="newRoleForm.disabled || actionsId.length==0"
            (click)="registerNewRole() " style="float: right;">
            <span *ngIf="!newRoleForm.disabled">
                Crear
            </span>
            <mat-progress-spinner *ngIf="newRoleForm.disabled" [diameter]="24" [mode]="'indeterminate'">
            </mat-progress-spinner>
        </button>
    </div>


</div>